
.product-detail-cotainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-top: 30px;
}

.image-detail {
    width: 450px;
    height: 450px;
    object-fit: cover;
    justify-self: start;
}

.btn-go-cart {
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 20px;
}

.text-out {
    color: var(--redAccent);
    font-weight: bold;
}
.price-description {
    color: var(--secondaryColor);
    font-size: 28px;
    font-weight: 600;
}


.text-unit {
    margin: 0 10px;
    font-weight: bold;
}
