
.cart-container{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
}

.detail-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.text-total-title {
    font-size: 30px;
    margin: 2px;
}

.price-total-detail {
    font-size: 25px;
    font-weight: bold;
    margin: 2px 0 20px 0;
    color: var(--secondaryColor)
}

.btn-cart-detail {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 15px;
}

.text-empty-detail{
    display: flex;
    justify-content: center;
}

@media (min-width: 700px) {
    
    .cart-container{
        display: grid;
        grid-template-columns: 70% 30%;
    }

}