.header {
  background-color: var(--primaryColor);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1px 0;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }

  .logo-header {
    font-size: 60px;
    color: white;
  }

  .ic-icon-cart {
    color: white;
    font-size: 40px;
  }

  .right-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .ic-cart-container {
    position: relative;
    padding-top: 3px;
  }
  .text-count-cart {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: var(--redAccent);
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 0;
  }