.cart-item-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    border: solid 2px var(--primaryColor);
    margin-bottom: 15px;
    border-radius: 6px;
}

.title-intem-cart{
    font-size: 20px;
    font-weight: bold;
    color: var(--secondaryColor);
    margin-bottom: 5px;
}

.image-cart-item {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.text-cart-price {
    font-size: 22px;
    font-weight: bold;
    color: var(--secondaryColor);
}

.item-cart-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-cart-detail > * {
    margin-bottom: 10px;
}

.config-buttonsx {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.config-buttons > * {
    margin-bottom: 20px;
}

.text-out-stock {
    color: var(--redAccent);
    font-weight: 600;
    font-size: 18px;
}

.cart-product-units {
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
}

.ic-remove-item {
    color: var(--secondaryColor);
    font-size: 30px;
    cursor: pointer;
}

@media (min-width: 700px) {
    .image-cart-item {
        width: 200px;
        height: 200px;
    }
}